a{
    text-decoration: none;
}

.card{
    height: 300px;
}

.card-body{
    overflow: hidden;
}

.search {
    width: 100%;
    background-color: lightblue;
}

.search .search-input{
    padding: 0.375rem 0.75rem;
    border: none;
    vertical-align: center;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.search button{
    vertical-align: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
